extends layout

block scripts
  script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
  script(src="javascripts/challenges.js")

block content
  #challenges.row.mt-4
      .col-md-6
        form(action="/challenge", method="post", @submit.prevent="handleSubmit").form
          .form-group
            label(for="fldIdentity") Identity
            input(id="fldIdentity", type=text, name="identity", v-model="formData.identity" required).form-control
          .form-group
            label(for="fldFactorSid") Factor Sid
            input(id="fldFactorSid", type=text, name="factor_sid", v-model="formData.factor_sid" required).form-control
          .form-group
            label(for="fldMessage") Message
            input(id="fldMessage", type=text, name="message", v-model="formData.message" required).form-control

          .card(v-for="(field, idx) in formData.fields", :key="idx").mb-3
            .card-body
              .card-title
                span.h6 Detail
                button(type="button", @click="removeDetail(idx)").close
                  span(aria-hidden="true") &times;
              .form-row
                .col
                  .form-group
                    label(for="label")
                      = "Label"
                    input(id="label", type="text", required, :name="'fields['+idx+'][label]'", v-model="field.label" placeholder="Label").form-control
                .col
                  .form-group
                    label(for="value")
                      = "Value"
                    input(id="value", type="text", required, :name="'fields['+idx+'][value]'", v-model="field.value" placeholder="Value").form-control
          
          .d-flex.justify-content-end
            button(type="button", @click="addDetail").btn.btn-primary
              ="Add more Details"
          


          input(type="submit", value="Create challenge").btn.btn-primary

      .col-md-6
        .status-wrapper.d-flex.justify-content-center.align-items-center
          .status.approved(v-if="challengeStatus === 'approved'") &check;
          .status.denied(v-if="challengeStatus === 'denied'") &times;
          .polling(v-if="isPolling")
            .spinner-border(role="status")
              span.sr-only="Loading..."
        pre.block
          ="{{ challengeResponse }}"