include ./mixins/navbar.pug
include ./mixins/form_control.pug

doctype html
html
  head
    title= title
    link(rel='shortcut icon', href='/images/Twilio_64.png')
    link(rel='stylesheet', href='/stylesheets/main.css')



  body
    +navbar_contained("Twilio", "navBar", "dark", "blue", "/")
      +nav_item("/enrollment")
        = "Enrollment"
      +nav_item("/challenge")
        = "Challenge"

    .container
      block content

    if env.NODE_ENV === 'production'
      script(src="https://cdn.jsdelivr.net/npm/vue@2.6.11")
    else
      script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
    block scripts