@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
  font-family: "Whitney SSm A", "Whitney SSm B", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  color: #222222;
  background-color: #ffffff;
}

.bg-blue {
  background-color: #0d122b;
  border-color: #0d122b;
}

.img-opaque {
  opacity: 0.3;
}

.status-wrapper {
  height: 4rem;

  .status {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: bold;
    &.approved {
      color: $green;
    }

    &.denied {
      color: $red;
    }
  }
}
